
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myLopLabel">Thêm mới hoặc Sửa Lớp</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.lop.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.lop.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name_class">Tên Lớp</label>
            <input type="text" class="form-control" name="name_class" id="field_name_class"
                    ng-model="vm.lop.name_class"
                    required/>
            <div ng-show="editForm.name_class.$invalid">
                <p class="help-block"
                    ng-show="editForm.name_class.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_soluong">Số lượng</label>
            <input type="text" class="form-control" name="soluong" id="field_soluong"
                   ng-model="vm.lop.soluong"
                   required/>
            <div ng-show="editForm.soluong.$invalid">
                <p class="help-block"
                   ng-show="editForm.soluong.$error.required">
                    This field is required.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Hủy bỏ</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Lưu</span>
        </button>
    </div>
</form>
